# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
dist/
build/
*.egg-info/
*.egg

# Jupyter
.ipynb_checkpoints

# IDE
.vscode/
.idea/
*.swp
*.swo

# Data
*.jsonl
*.csv
*.pkl

# Logs
logs/
*.log

dataset/pretrain_hq.jsonl